.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

app-profile-card {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  font-size: 48px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media (max-width: 600px) {
  .prev, .next {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .prev, .next {
    display: inline-block !important;
  }
}
