/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Quicksand', sans-serif ,  "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif; /* Apply Quicksand font to headings */
}

p {
  font-family: 'Quicksand', sans-serif; /* Apply Quicksand font to paragraphs */
}
/* Other global styles */

/* Media Query for Mobile Responsiveness */
@media (max-width: 600px) {
    .profile-card {
      max-width: 95%; /* Adjust width for mobile */
    }
  
    .carousel-control {
      font-size: 1.2em; /* Adjust size for mobile controls */
    }
  }
  
